$tablegreen: #0f0;
@mixin players {
  display: flex;
  border: solid #0000ff;
  flex-wrap: wrap;
  flex-direction: row;
}

main{
  background-color: $tablegreen;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  width: 800px;
  height: 600px;
}

.player-left{
  @include players;
  width: 200px;
  height: 200px;
  background-color: #0055aa;
}
.player-partner{
  @include players;
  width: 200px;
  height: 200px;
  background-color: #116644;
}
.player-right{
  @include players;
  width: 200px;
  height: 200px;
  background-color: #285e8e;
}
.player-this{
  @include players;
  background-color: #7F8181;
  width: 800px;
  height: 200px;
}